.GPAHolder {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GPAOptions {
    min-height: 100%;
    min-width: 25%;
    height: 100%;
    width: 25%;
    max-width: 25%;
    max-height: 100%;
    border-right-width: thin;
    border-right-style: dotted;
    border-right-color: black;
    display: inline-block;
    box-sizing: border-box;
}

.GPAGraphHolder {
    min-height: 100%;
    min-width: 75%;
    height: 100%;
    width: 75%;
    max-width: 75%;
    max-height: 100%;
    box-sizing: border-box;
    display: inline-block;
}