#fullpage {}
/**/

.tabBarWrapper {
    height: 5%;
    width: 100%;
    min-height: 5%;
    min-width: 100%;
    max-height: 5%;
    max-width: 100%;
    background-color: white;
    margin: 0;
    top: 0;
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom-color: #2980B9;
    border-bottom-style: solid;
    border-bottom-width: thin;
    font-size: 0.2em;
}

.tabBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background: #2980B9;
}

.tabBarMenu {
    width: 10%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.barText {
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

.GPAGraphs {
    width: 45%;
    flex-grow: 4.5;
    flex-shrink: 4.5;
    border-left-color: #2980B9;
    border-left-style: solid;
    border-left-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.Courses {
    width: 45%;
    flex-grow: 4.5;
    flex-shrink: 4.5;
    border-left-color: #2980B9;
    border-left-style: solid;
    border-left-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}
/**/

#mainSection {
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

#mainDisplay {
    position: relative;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    font-family: Lekton;
    font-style: italic;
    position: relative;
    font-size: 8em;
    color: #2C3E50;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

.mainDisplayWrapper {
    background-color: white;
    margin: 0;
    top: 0;
    flex-grow: 9;
    flex-shrink: 9;
    background: ghostwhite;
}

#testSemesterDisplayWrapper {
    position: relative;
    min-width: 98%;
    min-height: 98%;
    width: 98%;
    height: 98%;
    max-width: 98%;
    max-height: 98%;
    top: 1%;
    left: 1%;
    background: white;
    border-color: #2980B9;
    border-style: solid;
    border-width: thin;
}

#focusRemover {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
    background-color: black;
    opacity: 60%;
}

#semesterDisplayWrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: -2;
    background-color: black;
    opacity: 90%;
}

#semesterDisplay {
    position: relative;
    top: 0%;
    left: 0%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: -2;
    background-color: ghostwhite;
}

#testSemesterDisplay {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

#GPAPage {
    background-color: white;
}

#renderToolbar {
    position: fixed;
    min-width: 100%;
    min-height: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
}

#leftDirection {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  background-image: url('https://unsplash.imgix.net/41/yEWFnFQRqfmY9l9efJ6g_Snap01-web.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=7580de2dc3b3821f0dc1c97f2d60fe7c');
}

#rightDirection {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#Title {
    flex-grow: 8;
    flex-shrink: 8;
}

.displayHolder {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    border-color: black;
    border-width: thin;
    border-style: dotted;
    background-color: white;
}

.flexboxContainer {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.temp {
    min-height: 20%;
    min-width: 20%;
    width: 20%;
    height: 20%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

.temp:hover {
    color: white;
    background-color: black;
}