.mainMenuItem {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    max-height: 100%;
}

#mainMIMain {
    flex-grow: 100;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    min-width: 100%;
    max-height: 100%;
}

.gridColumn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    max-width: 20%;
    max-height: 100%;
}

.gridCellHolder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    max-height: 33%;
}

.gridCell {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    color: #2C3E50;
    border-color: #2C3E50;
    max-height: 100%;
}

#r0c0 {
    color: #2C3E50;
    border-color: #2C3E50;
}

#r1c0 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r2c0 {
    color: #2C3E50;
    border-color: #2C3E50;
}

#r3c0 {
    color: #3498DB;
    border-color: #3498DB;
}

#r4c0 {
    color: #2980B9;
    border-color: #2980B9;
}

#r0c1 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r1c1 {
    color: #2980B9;
    border-color: #2980B9;
}

#r2c1 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r3c1 {
    color: #E74C3C;
    border-color: #3498DB;
}

#r4c1 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r0c2 {
    color: #2980B9;
    border-color: #2980B9;
}

#r1c2 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r2c2 {
    color: #2C3E50;
    border-color: #2C3E50;
}

#r3c2 {
    color: #3498DB;
    border-color: #3498DB;
}

#r4c2 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r0c3 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r1c3 {
    color: #3498DB;
    border-color: #3498DB;
}

#r2c3 {
    color: #2C3E50;
    border-color: #2C3E50;
}

#r3c3 {
    color: #2980B9;
    border-color: #2980B9;
}

#r4c3 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r5c3 {
    color: #3498DB;
    border-color: #3498DB;
}

#r0c4 {
    color: #2C3E50;
    border-color: #2C3E50;
}

#r1c4 {
    color: #2980B9;
    border-color: #2980B9;
}

#r2c4 {
    color: #E74C3C;
    border-color: #E74C3C;
}

#r3c4 {
    color: #2980B9;
    border-color: #2980B9;
}

#r4c4 {
    color: #E74C3C;
    border-color: #E74C3C;
}